<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>0

<div
    id="alerta-banco-fora"

    {% if banco_online %}
        style="display: none;"
    {% endif %}
>
    ⚠️ Conexão Com o Banco Perdida Recarregue a pagina para voltar a conexão
</div>

<div class="filtro-data">

    <div class="campo-data">
        <label for="dataInicio">Data Inicial</label>
        <input type="date" id="dataInicio">
    </div>

    <div class="campo-data">
        <label for="dataFim">Data Final</label>
        <input type="date" id="dataFim">
    </div>

</div>

<h3>Filiais</h3>

<select id="filialSelect">
    <option value="">Todas as Filiais</option>
</select>

<h3>Categorias de Produtos</h3>

<select id="categoriaSelect">
    <option value="">Todas as Categorias</option>
</select>

<h3>Produtos</h3>

<select id="produtosSelect">
    <option value="">Todos os Produtos</option>
</select>

<button id="btnAplicar">
    Aplicar Filtro
</button>

<hr>

<p>
    Receita Bruta:
    R$
    <span id="valorFaturamento">0.00</span>
</p>

<p>
    Receita Liquida:
    R$
    <span id="valorReceita_liquida">0.00</span>
</p>

<p>
    Desconto Total:
    R$
    <span id="valorDescontoTotal">0.00</span>
</p>

<p>
    Custo Total:
    R$
    <span id="valorCustoTotal">0.00</span>
</p>


<p>
    Margem Bruta:
    R$
    <span id="valorMargemBruta">0.00</span>
</p>

<p>
    Margem Bruta Percentual:
    <span id="valorMargem_percentual">0.00</span>%
</p>

<p>
    Quantidade Vendida:
    <span id="valorQuantidadeVendida">0.00</span>
</p>

<p>
    Ticket Médio:
    <span id="valorTicketMedio">0.00</span>
</p>


<div >
     <div style="width: 600px;">
        <canvas id="Grafico1"></canvas>
    </div>
    <div style="width: 800px;">
        <canvas id="Grafico2"></canvas>
    </div>
    <div style="width: 800px;">
        <canvas id="Grafico3"></canvas>
    </div>
    <div style="width: 800px;">
        <canvas id="Grafico4"></canvas>
    </div>
</div>
<script src="/static/js/script.js"></script>

</body>
</html>